.o1,.o2,.o3{
    width: 50px;
    height: 50px;
    margin: 20px;
    border-radius: 50%;
    display: inline-flex;
    color: white;
}
.o1{
    background-color: rgb(28, 159, 159) ;
}
.o2{
    background-color: bisque;
}
.o3{
    background-color: brown;
}

.o4, .o5, .o6
    {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: bottom;
    background-color: rgb(116, 13, 99);
    }

.o4{
    background-color: rgb(28, 159, 159) ;
}
.o5{
    background-color: rgb(129, 179, 42) ;
}
.o6{
    background-color: blue;
}